<div id="bottomNav" class="row ms-fontSize-28 text-center py-2">
    <div class="col">
        <a href="/" class="text-light">
            <i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col">
        <a href="/robots" class="text-light">
            <i class="ms-Icon ms-Icon--Robot" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col">
        <a href="/social" class="text-light">
            <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col d-none d-sm-block">
        <a href="/resources" class="text-light">
            <i class="ms-Icon ms-Icon--Folder" aria-hidden="true"></i>
        </a>
    </div>
    <div class="col">
        <a id="fullNavLink" href="/nav" class="text-light" onclick="spinNav(this)">
            <i class="ms-Icon ms-Icon--CollapseMenu" aria-hidden="true"></i>
        </a>
    </div>
</div>