<a href="/" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Home">
    <i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i>
</a>
<a href="/members" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Members">
    <i class="ms-Icon ms-Icon--Teamwork" aria-hidden="true"></i>
</a>
<a href="/competitions" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="FIRST Robotics">
    <img class="d-block" src="img/FIRST_Vertical_RGB_reverse.png" width="32pt" />
</a>
<a href="/robots" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Robots">
    <i class="ms-Icon ms-Icon--Robot" aria-hidden="true"></i>
</a>
<a href="/projects" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Projects">
    <i class="ms-Icon ms-Icon--ClipboardList" aria-hidden="true"></i>
</a>
<a href="https://flic.kr/ps/3b8mmU" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Flickr">
    <i class="ms-Icon ms-Icon--Picture" aria-hidden="true"></i>
</a>
<a href="/social" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Social Media">
    <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
</a>
<a href="/contact" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Contact Us">
    <i class="ms-Icon ms-Icon--Headset" aria-hidden="true"></i>
</a>
<a href="/resources" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Resources">
    <i class="ms-Icon ms-Icon--Folder" aria-hidden="true"></i>
</a>
<a href="/search" class="my-2 text-light" data-toggle="tooltip" data-placement="right" title="Search">
    <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
</a>