<footer class="bg-dark py-5 mt-auto">
    <div class="container">
        <div class="row">

            <div class="col-6 col-sm-4 pb-4">
                <div class="d-flex flex-column">
                    <h4 class="text-muted">About Us</h4>
                    <a class="text-muted" href="team">Our Team</a>
                    <a class="text-muted" href="members">Our Members</a>
                    <a class="text-muted" href="robots">Our Robots</a>
                    <a class="text-muted" href="competitions">Competitions</a>
                </div>
            </div>
            <div class="col-6 col-sm-4 pb-4">
                <div class="d-flex flex-column">
                    <h4 class="text-muted">Community</h4>
                    <a class="text-muted" href="news">Newsletter</a>
                    <a class="text-muted" href="blog">Blog</a>
                    <a class="text-muted" href="social">Social Media</a>
                    <a class="text-muted" href="projects">Projects</a>
                </div>
            </div>
            <div class="col-6 col-sm-4 pb-4">
                <div class="d-flex flex-column">
                    <h4 class="text-muted">Resources</h4>
                    <a class="text-muted" href="calendar">Calendar</a>
                    <a class="text-muted" href="gallery">Gallery</a>
                    <a class="text-muted" href="more">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center pb-4">
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://github.com/team5599"><i data-feather="github"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://www.instagram.com/sentinels_5599/"><i data-feather="instagram"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://www.facebook.com/team5599sentinels"><i data-feather="facebook"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://twitter.com/Sentinels5599"><i data-feather="twitter"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://www.youtube.com/channel/UCALF3caI0F4WJfJisLFSBWQ"><i data-feather="youtube"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="https://www.twitch.tv/team5599_thesentinels"><i data-feather="twitch"></i></a>
        <a class="p-3 m-2 rounded-circle btn btn-outline-secondary" href="mailto:marketing.sentinels@gmail.com"><i data-feather="mail"></i></a>
    </div>
    <div class="container">
        <div class="text-center text-secondary">
            <p>Copyright © 2020 BNCHS Sentinels</p>
            <p style="font-family: Arial, Helvetica, sans-serif;"><i>FIRST®</i>, <i>FIRST®</i> Robotics Competition, and <i>FIRST®</i> Tech Challenge, are registered trademarks of <i>FIRST®</i> (<a href="www.firstinspires.org" class="text-muted" style="font-family: Arial, Helvetica, sans-serif;">www.firstinspires.org</a>) which is not overseeing, involved with, or responsible for this activity, product, or service.</p>
        </div>
    </div>

</footer>