<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top acryllic-dark">
    <a class="navbar-brand sentinels-font" href="index.html">
        <img src="img/logo/bulldog.png" class="rounded-lg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        The Sentinels
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">Our Team</a>
                    <a class="dropdown-item" href="members">Our Members</a>
                    <a class="dropdown-item" href="robots">Our Robots</a>
                    <a class="dropdown-item" href="competitions">Competitions</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="news">Newsletter</a>
                    <a class="dropdown-item" href="blog">Blog</a>
                    <a class="dropdown-item" href="social">Social Media</a>
                    <a class="dropdown-item" href="projects">Projects and Demos</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="calendar">Calendar</a>
                    <a class="dropdown-item" href="gallery">Gallery</a>
                    <a class="dropdown-item" href="more">More...</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="signin">Sign In<a>
                </div>
            </div>
            <a class="nav-link" href="contact">Contact Us</a>
        </div>
        <form class="form-inline ml-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Coming Soon!" aria-label="Search" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="button-addon2">Go</button>
                </div>
            </div>
        </form>
    </div>
</nav>