<nav id="navbar" class="navbar navbar-dark navbar-expand-lg fixed-top acryllic">
    <a class="navbar-brand sentinels-font" href="/">
        <img src="img/logo/bulldog.png" class="rounded-lg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        The Sentinels
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/">Our Team</a>
                    <a class="dropdown-item" href="members">Our Members</a>
                    <a class="dropdown-item" href="robots">Our Robots</a>
                    <a class="dropdown-item" href="competitions">Competitions</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Community
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="blog">Blog</a>
                    <a class="dropdown-item" href="social">
                        <div class="row">
                            <div class="col">
                                Social Media
                            </div>
                            <div class="col">
                                <i data-feather="hash" class="d-block ml-auto"></i>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="projects">Projects and Demos</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="calendar">
                        <div class="row">
                            <div class="col">
                                Calendar
                            </div>
                            <div class="col">
                                <i data-feather="calendar" class="d-block ml-auto"></i>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="https://flic.kr/ps/3b8mmU">
                        <div class="row">
                            <div class="col">
                                Gallery
                            </div>
                            <div class="col">
                                <i data-feather="external-link" class="d-block ml-auto"></i>
                            </div>
                        </div>
                    </a>
                    <a class="dropdown-item" href="more">More...</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/signin">
                        <div class="row">
                            <div class="col">
                                Profile
                            </div>
                            <div class="col">
                                <i data-feather="log-in" class="d-block ml-auto"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <a class="nav-link" href="contact">Contact Us</a>
        </div>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control text-light border-0 translucent-field" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <div class="input-group-append border-0 ml-0">
                    <button class="btn translucent-btn border-0" type="button" id="button-addon2"><i data-feather="search" class="d-block m-auto"></i></button>
                </div>
            </div>
        </form>
    </div>
</nav>