<nav id="navbar" class="navbar navbar-dark navbar-expand-md fixed-top acryllic">
    <div class="container">
        <a class="navbar-brand sentinels-font" href="/">
            The Sentinels
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav row w-100">
                <div class="col-12 col-md text-center">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/">Our Team</a>
                            <a class="dropdown-item" href="members">Our Members</a>
                            <a class="dropdown-item" href="robots">Our Robots</a>
                            <a class="dropdown-item" href="competitions">Competitions</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md text-center">
                    <a class="nav-link" href="competitions">Competitions</a>
                </div>
                <div class="col-12 col-md text-center">
                    <a class="nav-link" href="social">Social</a>
                </div>
                <div class="col-12 col-md text-center">
                    <a class="nav-link" href="projects">Projects</a>
                </div>
                <div class="col-12 col-md text-center">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Resources
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="calendar">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        Calendar
                                    </div>
                                    <div class="col">
                                        <i data-feather="calendar" class="d-block ml-auto"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="https://flic.kr/ps/3b8mmU">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        Gallery
                                    </div>
                                    <div class="col">
                                        <i data-feather="external-link" class="d-block ml-auto"></i>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="more">More...</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/signin">
                                <div class="row row-cols-2">
                                    <div class="col">
                                        Profile
                                    </div>
                                    <div class="col">
                                        <i data-feather="log-in" class="d-block ml-auto"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md text-center">
                    <a class="nav-link" href="contact">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</nav>