<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="ms-Fabric ms-bgColor-gray220" dir="ltr">
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <div class="col-auto h-100 d-none d-md-block ms-bgColor-gray220 text-light">
                    <div class="row h-100">
                        <div class="col my-auto px-3 mh-100" style="overflow-y: scroll;">
                            <nav class="nav flex-column  ms-fontSize-32">
                                <%- include('components/nav/side.html'); -%>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col h-100 p-0" style="overflow-y: scroll;">
                    <div class="min-vh-100 d-flex flex-column container-fluid">
                        <div class="row flex-grow-1">
                            <div class="col my-auto text-light">
                                <div class="container">
                                    <h1>500 - Internal Server Error</h1>
                                    <p>We're sorry, but something went wrong.</p>
                                </div>
                            </div>
                        </div>
                        <%- include('components/footer.html'); -%>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-bottom d-md-none">
            <div class="ms-bgColor-gray220 container-fluid">
                <%- include('components/nav/bottom.html'); -%>
            </div>
        </div>
        <%- include('components/scripts.html'); -%>
    </body>

</html>