<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="dark">
        <%- include('components/nav.html'); -%>
        <div class="theme d-flex flex-column min-vh-100">
            <div class="row flex-grow-1">
                <div class="col my-auto">
                    <div class="container" style="padding-top: 5em;">
                        <h1 class="pb-4">500 - Internal Server Error</h1>
                        <p>We're sorry, but our systems failed.</p>
                    </div>
                </div>
            </div>
            <%- include('components/footer.html'); -%>
        </div>
        <%- include('components/scripts.html'); -%>
    </body>

</html>