<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>
        <%- include('components/nav.html'); -%>
        <div class="row h-100">
            <div class="col my-auto">
                <div class="container" style="padding-top: 5em;">
                    <h1>Coming Soon!</h1>
                    <p>Please hang tight.</p>
                </div>
            </div>
        </div>
        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>
    </body>

</html>