<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>

        <%- include('components/nav.html'); -%>

        <div class="parallax" style="background-image: url('img/47473700712_4cf00694f0_k.jpg');">
            <div class="row h-100">
                <div class="col my-auto">

                    <div class="d-none d-sm-none d-md-block">
                        <div class="container">
                            <div class="bg-dark acryllic-dark text-light p-4 rounded-lg text-center">
                                <div class="d-none d-sm-none d-md-block">
                                    <h1 class="display-1"><i>FIRST</i> Robotics</h1>
                                </div>

                                <!--Smaller title for mobile-->
                                <div class="d-md-none d-lg-none d-xl-none">
                                    <h1><i>FIRST</i> Robotics</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <p class="text-muted">Content courtesy of the <i>FIRST</i> Website</p>
            <p><i>FIRST</i> (<i><b>F</b>or <b>I</b>nspiration and <b>R</b>ecognition of <b>S</b>cience and <b>T</b>echnology</i>) was founded in 1989 to inspire young people's interest and participation in science and technology. Based in Manchester, NH, the 501(c)(3) not-for-profit public charity designs accessible, innovative programs that motivate young people to pursue education and career opportunities in science, technology, engineering, and math, while building self-confidence, knowledge, and life skills.</p>
            <p><i>FIRST</i> is More Than Robots. <i>FIRST</i> participation is proven to encourage students to pursue education and careers in STEM-related fields, inspire them to become leaders and innovators, and enhance their 21 st century work-life skills.</p>
        </div>

        <div class="parallax" style="background-image: url('img/40545476633_bc7a03d898_k.jpg');">
            <div class="row h-100">
                <div class="col my-auto mh-25">

                    <div class="d-none d-sm-none d-md-block">
                        <div class="container">
                            <div class="bg-dark acryllic-dark text-light p-4 rounded-lg text-center">
                                <div class="d-none d-sm-none d-md-block">
                                    <h1 class="display-1"><i>FIRST'</i>s Mission</h1>
                                </div>
                                <!--Smaller title for mobile-->
                                <div class="d-md-none d-lg-none d-xl-none">
                                    <h1><i>FIRST'</i>s Mission</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <p>The mission of FIRST® is to inspire young people to be science and technology leaders and innovators, by engaging them in exciting mentor-based programs that build science, engineering, and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership.</p>
        </div>

        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>

    </body>

</html>