<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="ms-Fabric ms-bgColor-gray200" dir="ltr">
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <div class="col-auto h-100 d-none d-md-block ms-bgColor-gray200 text-light">
                    <div class="row h-100">
                        <div class="col my-auto px-3 mh-100" style="overflow-y: scroll;">
                            <nav id="sideNav" class="nav flex-column  ms-fontSize-32">
                                <%- include('components/nav/side.html'); -%>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col h-100 p-0" style="overflow-y: scroll;">
                    <main>
                        <section>
                            <div class="defer-bg" data-bg="linear-gradient(0deg, rgba(237, 28, 36, 0.8), rgba(237, 28, 36, 0.8)), url('img/robot_1.jpg')">
                                <div class="container-fluid">
                                    <div class="row min-vh-100 text-light">
                                        <div class="col my-auto">
                                            <div class="container py-5">
                                                <div class="d-none d-lg-block">
                                                    <h1 class="display-1">FIRST Robotics</h1>
                                                </div>
                                                <div class="d-lg-none">
                                                    <h1 class="display-4">FIRST Robotics</h1>
                                                    <hr class="border-light" />
                                                </div>
                                                <h2>About FIRST</h2>
                                                <p>FIRST (For Inspiration and Recognition of Science and Technology) was founded in 1989 to inspire young people's interest and participation in science and technology. Based in Manchester, NH, the 501(c)(3) not-for-profit public charity designs accessible, innovative programs that motivate young people to pursue education and career opportunities in science, technology, engineering, and math, while building self-confidence, knowledge, and life skills.</p>
                                                <p>FIRST is More Than Robots. FIRST participation is proven to encourage students to pursue education and careers in STEM-related fields, inspire them to become leaders and innovators, and enhance their 21 st century work-life skills.</p>
                                                <small><i>Content courtesy of the FIRST website.</i></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="defer-bg" data-bg="linear-gradient(0deg, rgba(0, 101, 179, 0.8), rgba(0, 101, 179, 0.8)), url('img/history.jpg')">
                                <div class="container-fluid">
                                    <div class="row min-vh-100 text-light">
                                        <div class="col my-auto">
                                            <div class="container py-5">
                                                <div class="d-none d-lg-block">
                                                    <h1 class="display-1">Mission and Vision</h1>
                                                </div>
                                                <div class="d-lg-none">
                                                    <h1 class="display-4">Mission and Vision</h1>
                                                </div>
                                                <hr class="border-light" />
                                                <h2>Mission</h2>
                                                <p>The mission of FIRST® is to inspire young people to be science and technology leaders and innovators, by engaging them in exciting mentor-based programs that build science, engineering, and technology skills, that inspire innovation, and that foster well-rounded life capabilities including self-confidence, communication, and leadership.</p>
                                                <h2>Vision</h2>
                                                <p>"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders." Dean Kamen, Founder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                    <%- include('components/footer.html'); -%>
                </div>
            </div>
        </div>
        <div class="fixed-bottom d-md-none">
            <div class="ms-bgColor-gray200 container-fluid">
                <%- include('components/nav/bottom.html'); -%>
            </div>
        </div>
        <%- include('components/scripts.html'); -%>
    </body>

</html>