<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>
        <%- include('components/nav.html'); -%>
        <div class="container" style="padding-top: 5em;">
            <h1>Hello, <%= user.name %>!</h1>
            <div class="pt-3">
                <a class="btn btn-outline-primary mr-3" href="/profile">Profile Page</a>
                <a class="btn btn-outline-primary" href="/signout">Sign Out <i data-feather="log-out" class="ml-2"></i></a>
            </div>
            <div class="py-3">
                <h1>Announcements</h1>
                <form action="/dashboard" method="POST">
                    <div class="form-group">
                        <label for="announcementMessage">Announcement</label>
                        <textarea rows="4" class="form-control" id="announcementMessage" name="announcementMessage" placeholder="No annoucement entered."><%= announcement.message %></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="announcementDisplay" name="announcementDisplay" <% if (announcement.display) { %> checked <% } %>>
                        <label class="form-check-label" for="announcementDisplay">Display announcement</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="py-3">
                <h1>General</h1>
                <form action="/dashboard" method="POST">
                    <div class="form-group">
                        <label for="teamDesc">Team Description</label>
                        <textarea rows="8" class="form-control" id="teamDesc" name="teamDesc" required><%= team.desc %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="teamHistory">Team History</label>
                        <textarea rows="8" class="form-control" id="teamHistory" name="teamHistory" required><%= team.history %></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="py-3">
                <h1>Members</h1>
                <p class="text-muted">You can only manage members in your division. <i>(For the time being)</i></p>
                <div class="d-flex flex-nowrap" style="overflow-x: scroll;">
                    <% members.forEach(function (member) { %>
                    <% if (member.division == user.division) { %>
                    <div class="card mr-3">
                        <div class="card-header">
                            <h4> <%= member.name %> </h4>
                        </div>
                        <div class="card-body">
                            <form action="/dashboard" method="POST">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" value="<%= member.name %>" required>
                                    <small class="text-muted">Changing member's name will update their username.</small>
                                </div>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" value="<%= member.username %>" readonly>
                                    <small class="text-muted">For reference only, usernames are generated automatically.</small>
                                </div>
                                <div class="form-group">
                                    <label>User ID</label>
                                    <input type="text" class="form-control" value="<%= member._id %>" readonly>
                                    <small class="text-muted">For reference only, User IDs are generated automatically.</small>
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" placeholder="name@example.com" value="<%= member.email %>" required>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="mechanics" <% if (member.division == "mechanics") { %> checked <% } %> required>
                                        <label class="form-check-label">
                                            Mechanics
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="electronics" <% if (member.division == "electronics") { %> checked <% } %> required>
                                        <label class="form-check-label">
                                            Electronics
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" <% if (member.division == "programming") { %> checked <% } %> required>
                                        <label class="form-check-label">
                                            Programming
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" <% if (member.division == "marketing") { %> checked <% } %> required>
                                        <label class="form-check-label">
                                            Marketing
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" <% if (member.division == "cad") { %> checked <% } %> required>
                                        <label class="form-check-label">
                                            CAD
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe <%= member.name %>."><%= member.desc %></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" <% if (member.isBoard) { %> checked <% } %>>
                                    <label class="form-check-label" for="defaultCheck1">Board Member</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" <% if (member.isMentor) { %> checked <% } %>>
                                    <label class="form-check-label" for="defaultCheck1">Mentor</label>
                                </div>
                                <div class="form-check pb-3">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" <% if (member.isAlumni) { %> checked <% } %>>
                                    <label class="form-check-label" for="defaultCheck1">Alumni</label>
                                </div>
                                <div class="form-group">
                                    <label>Year joined</label>
                                    <input type="number" class="form-control" placeholder="1970" value="<%= member.joined %>" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    <% }) %>
                    <div class="card">
                        <div class="card-header">
                            <h4> New user </h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="John Doe" required name="newMemberName">
                                </div>
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" class="form-control" placeholder="name@example.com" required name="newMemberEmail">
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="mechanics" required name="newMemberDivision">
                                        <label class="form-check-label">
                                            Mechanics
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="electronics" required name="newMemberDivision">
                                        <label class="form-check-label">
                                            Electronics
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" required name="newMemberDivision">
                                        <label class="form-check-label">
                                            Programming
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" required name="newMemberDivision">
                                        <label class="form-check-label">
                                            Marketing
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="memberDivision" value="programming" required name="newMemberDivision">
                                        <label class="form-check-label">
                                            CAD
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe the new person." name="newMemberDesc"></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberrBoard">
                                    <label class="form-check-label" for="defaultCheck1">Board Member</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberMentor">
                                    <label class="form-check-label" for="defaultCheck1">Mentor</label>
                                </div>
                                <div class="form-check pb-3">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberAlumni">
                                    <label class="form-check-label" for="defaultCheck1">Alumni</label>
                                </div>
                                <div class="form-group">
                                    <label>Year joined</label>
                                    <input type="number" class="form-control" placeholder="1970" required name="newMemberYear">
                                </div>
                                <button type="submit" class="btn btn-primary">Add user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>
    </body>

</html>