<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="ms-Fabric ms-bgColor-gray220" dir="ltr">
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <div class="col-auto h-100 d-none d-md-block ms-bgColor-gray220 text-light">
                    <div class="row h-100">
                        <div class="col my-auto px-3 mh-100" style="overflow-y: scroll;">
                            <nav class="nav flex-column  ms-fontSize-32">
                                <%- include('components/nav/side.html'); -%>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col h-100 p-0" style="overflow-y: scroll;">
                    <div class="min-vh-100 d-flex flex-column">
                        <div class="flex-grow-1">
                            <div class="container text-light">
                                <div class="pt-5">
                                    <h1 class="display-4">Hello, <%= user.name %>!</h1>
                                    <div class="py-3">
                                        <a class="btn btn-outline-secondary mr-3" href="/profile">Profile Page <i data-feather="user" class="ml-2"></i></a>
                                        <a class="btn btn-outline-secondary" href="/signout">Sign Out <i data-feather="log-out" class="ml-2"></i></a>
                                    </div>
                                </div>
                                <div class="d-none alert alert-success alert-dismissible fade show d-none" role="alert">
                                    Information updated successfully.
                                    <button type="button" class="close" onclick="closeAlert()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="card-columns">
                                    <div class="card bg-light text-dark">
                                        <div class="card-header">
                                            Announcements
                                        </div>
                                        <div class="card-body">
                                            <form action="/dashboard/announcement" method="POST" id="announcementForm">
                                                <div class="form-group">
                                                    <label for="announcementTitle">Announcement Title</label>
                                                    <input type="text" class="form-control" id="announcementTitle" placeholder="Ex. New Announcement!" value="<%= announcement.title %>" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="announcementMessage">Announcement Message</label>
                                                    <textarea aria-describedby="messageInfo" rows="4" class="form-control" id="announcementMessage" name="announcementMessage" placeholder="No annoucement entered." required><%= announcement.message %></textarea>
                                                    <small id="messageInfo" class="form-text text-muted">Tip: You can use HTML.</small>
                                                </div>
                                                <div class="form-group form-check">
                                                    <input type="checkbox" class="form-check-input" id="announcementDisplay" name="announcementDisplay" <% if (announcement.display) { %> checked <% } %>>
                                                    <label class="form-check-label" for="announcementDisplay">Display announcement</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card bg-light text-dark">
                                        <div class="card-header">
                                            General
                                        </div>
                                        <div class="card-body">
                                            <form action="/dashboard" method="POST">
                                                <div class="form-group">
                                                    <label for="teamDesc">Team Description</label>
                                                    <textarea rows="8" class="form-control" id="teamDesc" name="teamDesc" required><%= team.desc %></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="teamHistory">Team History</label>
                                                    <textarea rows="8" class="form-control" id="teamHistory" name="teamHistory" required><%= team.history %></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-3 text-light">
                                    <h1>Members</h1>
                                    <p class="text-muted">You can only manage members in your division. <i>(For the time being)</i></p>
                                    <div class="d-flex flex-wrap">
                                        <% members.forEach(function (member) { %>
                                        <% if (member.division == user.division) { %>
                                        <div class="card bg-light text-dark mr-3 mb-3">
                                            <div class="card-header">
                                                <h4> <%= member.name %> </h4>
                                            </div>
                                            <div class="card-body">
                                                <form action="/dashboard" method="POST">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" placeholder="John Doe" value="<%= member.name %>" required name="currentMemberName">
                                                        <small class="text-muted">Changing member's name will update their username.</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input type="text" class="form-control" value="<%= member.username %>" readonly name="currentMemberUsername">
                                                        <small class="text-muted">For reference only, usernames are generated automatically.</small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email address</label>
                                                        <input type="email" class="form-control" placeholder="name@example.com" value="<%= member.email %>" required name="currentMemberEmail">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="currentMemberDivision" value="mechanics" <% if (member.division == "mechanics") { %> checked <% } %> required>
                                                            <label class="form-check-label">
                                                                Mechanics
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="currentMemberDivision" value="electronics" <% if (member.division == "electronics") { %> checked <% } %> required>
                                                            <label class="form-check-label">
                                                                Electronics
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="currentMemberDivision" value="programming" <% if (member.division == "programming") { %> checked <% } %> required>
                                                            <label class="form-check-label">
                                                                Programming
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="currentMemberDivision" value="programming" <% if (member.division == "marketing") { %> checked <% } %> required>
                                                            <label class="form-check-label">
                                                                Marketing
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="currentMemberDivision" value="programming" <% if (member.division == "cad") { %> checked <% } %> required>
                                                            <label class="form-check-label">
                                                                CAD
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Description</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe <%= member.name %>." name="currentMemberDesc"><%= member.desc %></textarea>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="currentMemberIsBoard" <% if (member.isBoard) { %> checked <% } %>>
                                                        <label class="form-check-label" for="defaultCheck1">Board Member</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="currentMemberIsMentor" <% if (member.isMentor) { %> checked <% } %>>
                                                        <label class="form-check-label" for="defaultCheck1">Mentor</label>
                                                    </div>
                                                    <div class="form-check pb-3">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="currentMemberIsAlumni" <% if (member.isAlumni) { %> checked <% } %>>
                                                        <label class="form-check-label" for="defaultCheck1">Alumni</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Year joined</label>
                                                        <input type="number" class="form-control" placeholder="1970" name="currentMemberJoined" value="<%= member.joined %>" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </form>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% }) %>
                                        <div class="card bg-light text-dark mr-3 mb-3">
                                            <div class="card-header">
                                                <h4> New user </h4>
                                            </div>
                                            <div class="card-body">
                                                <form action="/dashboard" method="POST">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" placeholder="John Doe" required name="newMemberName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email address</label>
                                                        <input type="email" class="form-control" placeholder="name@example.com" required name="newMemberEmail">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Password</label>
                                                        <input type="text" class="form-control" placeholder="TotallySecurePassword123" required name="newMemberPassword">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" value="mechanics" required name="newMemberDivision">
                                                            <label class="form-check-label">
                                                                Mechanics
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" value="electronics" required name="newMemberDivision">
                                                            <label class="form-check-label">
                                                                Electronics
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" value="programming" required name="newMemberDivision">
                                                            <label class="form-check-label">
                                                                Programming
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" value="programming" required name="newMemberDivision">
                                                            <label class="form-check-label">
                                                                Marketing
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" value="programming" required name="newMemberDivision">
                                                            <label class="form-check-label">
                                                                CAD
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleFormControlTextarea1">Description</label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe the new person." name="newMemberDesc"></textarea>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberBoard">
                                                        <label class="form-check-label" for="defaultCheck1">Board Member</label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberMentor">
                                                        <label class="form-check-label" for="defaultCheck1">Mentor</label>
                                                    </div>
                                                    <div class="form-check pb-3">
                                                        <input class="form-check-input" type="checkbox" id="defaultCheck1" name="newMemberAlumni">
                                                        <label class="form-check-label" for="defaultCheck1">Alumni</label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Year joined</label>
                                                        <input type="number" class="form-control" placeholder="1970" required name="newMemberYear">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Add user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%- include('components/footer.html'); -%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom d-md-none">
                <div class="ms-bgColor-gray220 container-fluid">
                    <%- include('components/nav/bottom.html'); -%>
                </div>
            </div>
            <%- include('components/scripts.html'); -%>
            <script>
                $("#announcementForm").submit(function (event) {

                    console.log($("#announcementDisplay").is(":checked"))

                    event.preventDefault()
                    $.post($(this).attr("action"), {
                        title: $("#announcementTitle").val(),
                        message: $("#announcementMessage").val(),
                        display: $("#announcementDisplay").is(":checked")
                    }, function (data) {
                        if (data.redirect) { // The server may redirect the user to the sign in page as verification is done on all requests to dashboard.
                            window.location.replace(data.redirect)
                        } else if (data.success) {
                            $('.alert').removeClass("d-none")
                        }
                    }, "json")
                })

                function closeAlert() {
                    $('.alert').addClass("d-none")
                }
            </script>
    </body>

</html>