<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="ms-Fabric ms-bgColor-gray200" dir="ltr">
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <div class="col-auto h-100 d-none d-md-block ms-bgColor-gray200 text-light">
                    <div class="row h-100">
                        <div class="col my-auto px-3 mh-100" style="overflow-y: scroll;">
                            <nav id="sideNav" class="nav flex-column  ms-fontSize-32">
                                <%- include('components/nav/side.html'); -%>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col h-100 p-0" style="overflow-y: scroll;">
                    <main>
                        <section>
                            <div class="defer-bg parallax" data-bg="linear-gradient(0deg, rgba(30, 108, 147, 0.8), rgba(30, 108, 147, 0.8)), url('img/robot_1.jpg')">
                                <div class="container-fluid">
                                    <div class="row min-vh-100 text-light">
                                        <div class="col my-auto">
                                            <div class="container">
                                                <div class="d-none d-lg-block">
                                                    <h1 class="display-1 sentinels-font">The Sentinels</h1>
                                                </div>
                                                <div class="d-lg-none">
                                                    <h1 class="display-4 sentinels-font">The Sentinels</h1>
                                                    <hr class="border-light" />
                                                </div>
                                                <h2>Competitive Robotics Team | FRC 5599 BNCHS Sentinels</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ms-bgColor-gray10 py-5">
                                <div class="container">
                                    <p><%= team.desc %></p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="defer-bg parallax" data-bg="linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/history.jpg')">
                                <div class="container-fluid">
                                    <div class="row min-vh-100 text-light">
                                        <div class="col my-auto">
                                            <div class="container py-5">
                                                <div class="d-none d-lg-block">
                                                    <h1 class="display-1">Our History</h1>
                                                </div>
                                                <div class="d-lg-none">
                                                    <h1 class="display-4">Our History</h1>
                                                </div>
                                                <hr class="border-light" />
                                                <p><%= team.history %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                    <%- include('components/footer.html'); -%>
                </div>
            </div>
        </div>
        <div class="fixed-bottom d-md-none">
            <div class="ms-bgColor-gray200 container-fluid">
                <%- include('components/nav/bottom.html'); -%>
            </div>
        </div>
        <%- include('components/scripts.html'); -%>
    </body>

</html>