<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>

        <%- include('components/nav.html'); -%>

        <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLongTitle">Announcement!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="AnnouncementContent">Content not available</p>
                        <br>
                        <a id="AnnouncementLink" class="d-none" href="">Click here!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax" style="background-image: url('img/32584077677_b02b1d4707_k.jpg');">
            <div class="row h-100">
                <div class="col my-auto">
                    <div class="container">
                        <div class="bg-dark acryllic-dark text-light p-5 rounded-lg text-center">

                            <div class="d-none d-sm-none d-md-block">
                                <h1 class="sentinels-font display-1">The Sentinels</h1>
                            </div>

                            <!--Smaller title for mobile-->
                            <div class="d-md-none d-lg-none d-xl-none">
                                <h1 class="sentinels-font">The Sentinels</h1>
                            </div>

                            <hr class="border-secondary">

                            <p class="lead">Competitive Robotics Team | FRC 5599</p>
                            <p class="text-muted">Scroll Down</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <p> <%= desc %> </p>
        </div>

        <div class="parallax" style="background-image: url('img/45831474165_fe5980aa1f_k.jpg');">
            <div class="row h-100">
                <div class="col my-auto mh-25">

                    <div class="d-none d-sm-none d-md-block">
                        <div class="container">
                            <div class="bg-dark acryllic-dark text-light p-4 rounded-lg text-center">
                                <div class="d-none d-sm-none d-md-block">
                                    <h1 class="sentinels-font display-1">Our History</h1>
                                </div>

                                <!--Smaller title for mobile-->
                                <div class="d-md-none d-lg-none d-xl-none">
                                    <h1 class="sentinels-font">Our History</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container py-5">
            <p> <%= history %> </p>
        </div>

        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>

        <script>
            $.get("announcement", function (rawData) {
                var data = JSON.parse(rawData);
                if (data.display) {
                    $('#AnnouncementContent').html(data.message);
                    if (data.hasLink) {
                        $('#AnnouncementLink').removeClass('d-none');
                        $('#AnnouncementLink').attr('href', data.link);
                    }
                    $('#ModalCenter').modal();
                }
            });
        </script>
    </body>

</html>