<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="ms-Fabric ms-bgColor-gray220 p-5" dir="ltr">
        <h1 class="text-light display-4">Menu</h1>
        <nav class="nav flex-column ms-fontSize-24">
            <a href="/" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Home
                    </div>
                </div>
            </a>
            <a href="/members" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Teamwork" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Members
                    </div>
                </div>
            </a>
            <a href="/competitions" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <img src="img/FIRST_Vertical_RGB_reverse.png" width="32pt" alt="FIRST Logo"></img>
                    </div>
                    <div class="col">
                        FIRST Robotics
                    </div>
                </div>
            </a>
            <a href="/robots" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Robot" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Robots
                    </div>
                </div>
            </a>
            <a href="/projects" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--ClipboardList" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Projects
                    </div>
                </div>
            </a>
            <a href="https://flic.kr/ps/3b8mmU" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Picture" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Gallery
                    </div>
                </div>
            </a>
            <a href="/social" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Social Media
                    </div>
                </div>
            </a>
            <a href="/contact" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Headset" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Contact Us
                    </div>
                </div>
            </a>
            <a href="/resources" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Folder" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Resources
                    </div>
                </div>
            </a>
            <a href="/search" class="my-2 text-light">
                <div class="row">
                    <div class="col-auto">
                        <i class="ms-Icon ms-Icon--Search" aria-hidden="true"></i>
                    </div>
                    <div class="col">
                        Search
                    </div>
                </div>
            </a>
        </nav>
    </body>

</html>