<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="dark">
        <%- include('components/nav.html'); -%>
        <div class="container" style="padding-top: 5em; padding-bottom: 5em;">
            <main>
                <section>
                    <h1>Team Projects</h1>
                    <p>These are projects created and maintained by us, FRC 5599 BNCHS Sentinels. you can view most of this projects on our <a href="https://github.com/Team5599">GitHub</a>.</p>
                    <div class="row pb-5">
                        <% team.forEach(function(project) { %>
                        <div class="col-12 col-sm-6 col-md-4 p-2">
                            <div class="card text-light bg-dark">
                                <div class="card-body">
                                    <h5><%= project.title %> </h5>
                                    <p><%= project.desc %></p>
                                    <a href="https://github.com/Team5599/<%= project.title %>" class="btn btn-primary">View on GitHub</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </section>
                <section>
                    <h1>Member Projects</h1>
                    <p>These are separate projects created and maintained individual members of our team. Be sure to check them out.</p>
                    <p class="text-muted">Member projects functionality is still being worked on.</p>
                </section>
            </main>
        </div>
        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>
    </body>

</html>