<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>
        <%- include('components/nav.html'); -%>

        <div class="row h-100">
            <div class="col my-auto">
                <div class="container">
                    <h1>Sign In</h1>
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i data-feather="at-sign" class="d-block m-auto"></i></span>
                                </div>
                                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                            </div>
                            <% if (userbad) { %>
                            <p class="text-danger">Username does not exist.</p>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i data-feather="lock" class="d-block m-auto"></i></span>
                                </div>
                                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" required>
                            </div>
                            <% if (passbad) { %>
                            <p class="text-danger">Password is incorrect.</p>
                            <% } %>
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember credentials</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-outline-secondary w-100">Reset Password</button>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary w-100">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>
    </body>

</html>