<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body>
        <%- include('components/nav.html'); -%>

        <div class="parallax" style="background-image: url('img/45970720414_463727e7ad_k.jpg');">
            <div class="row h-100">
                <div class="col my-auto">
                    <div class="container">
                        <div class="bg-dark acryllic-dark text-light rounded-lg text-center">
                            <div class="px-5 pt-5">
                                <div class="d-none d-sm-none d-md-block">
                                    <h1 class="display-1">Social Media</h1>
                                </div>

                                <!--Smaller title for mobile-->
                                <div class="d-md-none d-lg-none d-xl-none">
                                    <h1>Social Media</h1>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-center px-2 pb-3">
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://github.com/team5599"><i data-feather="github"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.instagram.com/sentinels_5599/"><i data-feather="instagram"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.facebook.com/team5599sentinels"><i data-feather="facebook"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://twitter.com/Sentinels5599"><i data-feather="twitter"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.youtube.com/channel/UCALF3caI0F4WJfJisLFSBWQ"><i data-feather="youtube"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.twitch.tv/team5599_thesentinels"><i data-feather="twitch"></i></a>
                                <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="mailto:marketing.sentinels@gmail.com"><i data-feather="mail"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('components/footer.html'); -%>
        <%- include('components/scripts.html'); -%>
    </body>

</html>