<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('components/head.html'); -%>
    </head>

    <body class="dark">
        <%- include('components/nav.html'); -%>

        <div class="d-flex flex-column min-vh-100">
            <div class="row flex-grow-1 defer-bg" data-bg="img/45831474165_fe5980aa1f_k.jpg">
                <div class="col my-auto">
                    <div class="acryllic rounded-lg p-5 container">
                        <div class="text-light rounded-lg text-center">
                            <div class="px-5 pt-5">
                                <main>
                                    <div class="d-none d-sm-none d-md-block">
                                        <h1 class="display-1">Social Media</h1>
                                    </div>

                                    <!--Smaller title for mobile-->
                                    <div class="d-md-none d-lg-none d-xl-none">
                                        <h1>Social Media</h1>
                                    </div>

                                    <div class="d-flex flex-wrap justify-content-center pb-5">
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://github.com/team5599"><i data-feather="github"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.instagram.com/sentinels_5599/"><i data-feather="instagram"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.facebook.com/team5599sentinels"><i data-feather="facebook"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://twitter.com/Sentinels5599"><i data-feather="twitter"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.youtube.com/channel/UCALF3caI0F4WJfJisLFSBWQ"><i data-feather="youtube"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="https://www.twitch.tv/team5599_thesentinels"><i data-feather="twitch"></i></a>
                                        <a class="p-3 m-2 rounded-circle btn btn-outline-light" href="mailto:marketing.sentinels@gmail.com"><i data-feather="mail"></i></a>
                                    </div>
                                </main>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('components/footer.html'); -%>
        </div>
        <%- include('components/scripts.html'); -%>
    </body>

</html>