@font-face {
    font-family: bladerunner;
    src: url("../fonts/BLADRMF_.TTF");
}

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'IBM Plex Sans', sans-serif;
}

.sentinels-font {
    font-family: bladerunner;
}

.parallax { 
    background-color: rgb(30,108,147);

    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.translucent-field {
    background-color: rgba(127, 127, 127, 0.5) !important;
}

.translucent-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.translucent-btn {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(127, 127, 127, 0.5) !important;
    transition: 0.4s;
}

.light .translucent-btn:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(20, 20, 20);
    color: white;
    border-color: gray;
}

@supports ((backdrop-filter: saturate(180%) blur(10px)) or (-webkit-backdrop-filter: saturate(180%) blur(10px))) {
    .light .acryllic {
        background-color: rgba(255, 255, 255, 0.8);     
        backdrop-filter: saturate(180%) blur(20px); 
        -webkit-backdrop-filter: saturate(180%) blur(20px); 
        color: black;
    }
    
    .dark .acryllic {
        background-color: rgba(0, 0, 0, 0.8) !important;    
        backdrop-filter: saturate(180%) blur(20px); 
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        color: white;
    }
}

/* Disable parallax for mobile browsers*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}