@font-face {
    font-family: bladerunner;
    src: url("../fonts/BLADRMF_.TTF");
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

p, label, input, nav, a, div, button {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.sentinels-font {
    font-family: bladerunner;
}

.parallax { 
    background-image: url("../img/logo/bulldog.png");

    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.translucent-field {
    background-color: rgba(127, 127, 127, 0.5) !important;
}

.translucent-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.translucent-btn {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(127, 127, 127, 0.5) !important;
    transition: 0.4s;
}

.translucent-btn:hover {
    background-color: rgb(255, 255, 255) !important;
}

@supports ((backdrop-filter: saturate(180%) blur(10px)) or (-webkit-backdrop-filter: saturate(180%) blur(10px))) {
    .acryllic-light {
        background-color: rgba(255, 255, 255, 0.8) !important;     
        backdrop-filter: saturate(180%) blur(10px); 
        -webkit-backdrop-filter: saturate(180%) blur(10px); 
    }
    
    .acryllic-dark {
        background-color: rgba(20, 20, 20, 0.8) !important;    
        backdrop-filter: saturate(180%) blur(20px); 
        -webkit-backdrop-filter: saturate(180%) blur(20px);
    }
}

/* Disable parallax for mobile browsers*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
    background-attachment: scroll;
    }
}