@font-face {
    font-family: bladerunner;
    src: url("../fonts/BLADRMF_.TTF");
}

body, html {
    height: 100%;
    font-family: 'IBM Plex Sans', sans-serif !important;
}

.sentinels-font {
    font-family: bladerunner;
}

.translucent-field {
    background-color: rgba(127, 127, 127, 0.5) !important;
}

.translucent-field::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.translucent-btn {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(127, 127, 127, 0.5) !important;
    transition: 0.4s;
}

.translucent-btn:hover {
    background-color: rgb(255, 255, 255) !important;
    color: black;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: rgb(20, 20, 20);
    color: white;
    border-color: gray;
}

.light .acryllic {
    background-color: rgb(255, 255, 255);     
    color: black;
}
    
.dark .acryllic {
    background-color: rgb(20, 20, 20) !important;    
    color: white;
}

@supports ((backdrop-filter: saturate(180%) blur(10px)) or (-webkit-backdrop-filter: saturate(180%) blur(10px))) {
    .light .acryllic {
        background-color: rgba(255, 255, 255, 0.8);     
        backdrop-filter: saturate(180%) blur(20px); 
        -webkit-backdrop-filter: saturate(180%) blur(20px); 
    }
    
    .dark .acryllic {
        background-color: rgba(0, 0, 0, 0.8) !important;    
        backdrop-filter: saturate(180%) blur(20px); 
        -webkit-backdrop-filter: saturate(180%) blur(20px);
    }
}